/* Basic */
.content { padding-top: 60px; }
.sources,
.footer {
    border-top: 1px solid #e5e5e5;
    margin-top: 35px;
    padding-top: 35px;
}
.footer { padding: 35px 0 36px; }
.footer p {
    color: #555;
    margin-bottom: 0;
}

/* Specific Content Sections */
.main h1 {
    font-size: 48px;
    line-height: 60px;
}

/* Collapse Section */
.collapse-container {
    cursor: pointer;
    font-weight: bold;
}