/* Basic */
.main { padding-top: 60px; }
.sources,
.footer {
    border-top: 1px solid #eee;
    margin-top: 35px;
    padding-top: 35px;
}
.footer { padding: 35px 0 36px; }
.footer p {
    color: #555;
    margin-bottom: 0;
}

/* Code Examples Section */
.code-section th {
    font-size: 16px;
}
.code-section td {
    padding: 24px 8px;
}
.code-section pre {
    margin-bottom: 0;
}

/* Specific Content Sections */
.examples-list { margin-top: 10px; }

/* Collapse Section */
.collapse-container {
    cursor: pointer;
    font-weight: bold;
}