body {
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    text-shadow: 1px 0px 1px #eaeaed;
    filter: dropshadow(color=#aaa, offx=0, offy=0);
    font-size: 16px;
}

footer.footer {
    font-size: 12pt !important;
    margin-top: 50px;
    position: relative;
    bottom: 0;
}

.navbar-inner {
    border-bottom-color: #aaa !important;
    box-shadow: 3px 3px 5px 6px #ccc;
}
.navbar-inner a {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    text-shadow: 1px 0 1px #444;
}
.navbar-inner a.brand {color: #fff;}
.navbar-inner a.brand:hover {background: transparent;}
.navbar-inner ul.nav {
    padding-top: 2px;
}

a:hover {
    text-decoration: none;
    background-color: #efefef;
}

body .main.container {
    font-size: 16pt;
    line-height: 30px;
}

h1 {
    margin-bottom: 40px;
}

h1, h2, h3, h4, h5 {
    font-family: "Microsoft Yahei", "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    text-shadow: none;
}

.gist {
    font-size: 11pt !important;
    text-shadow: none;
}

code {background-color: transparent; border: none;text-shadow: none; color: #b65b19; font-size: 15px; padding:0;}
pre code {background-color: #333; border-color: #333; text-shadow: none; color: #fff;}

li p {line-height: 30px;}

li pre {margin-top: 10px;}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

body {
    padding-left: 0;
    padding-right: 0;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    padding: 0 20px;
    /* Negative indent footer by it's height */
    margin: 0 auto -80px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 80px;
}

@media (min-width: 767px) {
    .main.container {
        padding-top: 80px;
    }
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
