<!DOCTYPE html>
@args boolean noGoHome = false;
<html class='@get("domClass")'>
<head>
    <title>PlayRythm Demo - @get("title")</title>
    <meta charset="@_response_encoding">
    <meta content="" name="description">
    <meta content="" name="author">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <link rel="stylesheet" media="screen" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="/public/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" media="screen" href="/public/css/prettify.css">
    <link rel="stylesheet" media="screen" href="/public/css/main.css">
    @render("moreStyles")

    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a href="#" class="brand">PlayRythm Demo</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li @if (noGoHome) {class="active"}><a href="/">Home</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="main container">

        @if (!noGoHome) {
        <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li class="active">@get("title")</li>
        </ul>
        }

        @doLayout()

        <section class="row">
            <div class="span12">
                <div class="sources">
                    <div data-toggle="collapse" data-target="#template-src" class="collapse-container"><i class="icon-play"></i> Template Source</div>
                    <div id="template-src" class="collapse">
                        <pre class="prettyprint linenums">@render("tmpl_src") {template source not provided}</pre>
                    </div>
                    <div data-toggle="collapse" data-target="#java-src" class="collapse-container"><i class="icon-play"></i> Java Source (Rythm Generated)</div>
                    <div id="java-src" class="collapse">
                        <pre class="prettyprint linenums">@render("java_src") {java source not provided}</pre>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer">
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>Powered by <a href="http://playframework.org" target="_blank">Play! Framework v1.2</a> and <a href="http://twitter.github.com/bootstrap">Twitter Bootstrap</a> using <a href="http://www.playframework.org/modules/rythm">PlayRythm Template</a> (of course!).</p>
            <p>Built by <a href="http://hhandoko.com">Herdy Handoko</a> and <a href="mailto:greenlaw110@@gmail.com">Green Luo</a>.</p>
            <p>Code licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License v2.0</a>.</p>
        </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript" charset="@_response_encoding"></script>
    <script type="text/javascript">
    //<![CDATA[
        // Fallback if jQuery CDN is not available
        if (typeof jQuery == 'undefined') {
            document.write(unescape("%3Cscript src='/public/js/jquery-1.7.2.min.js' type='text/javascript' charset='@_response_encoding'%3E%3C/script%3E"));
        }
    //]]>
    </script>
    <script src="/public/js/bootstrap.min.js" type="text/javascript" charset="@_response_encoding"></script>
    <script src="/public/js/prettify.js" type="text/javascript" charset="@_response_encoding"></script>
    <script type="text/javascript">
    //<![CDATA[
        $(function() {

            // Make source code pretty!
            prettyPrint();

        });
    //]]>
    </script>
    @render('moreScripts')

</body>
</html>