<!DOCTYPE html>
@args boolean noGoHome = false;
<html class='@get("domClass")'>
<head>
    <title>PlayRythm Demo - @get("title")</title>
    <meta charset="@_response_encoding">
    <meta content="" name="description">
    <meta content="" name="author">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <link rel="stylesheet" media="screen" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="/public/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" media="screen" href="/public/css/prettify.css">
    <link rel="stylesheet" media="screen" href="/public/css/main.css">
    @render("moreStyles")

    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a href="#" class="brand">PlayRythm Demo</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li @if (noGoHome) {class="active"}><a href="/">Home</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="content container">

        @if (!noGoHome) {
        <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
            <li class="active">@get("title")</li>
        </ul>
        }

        @doLayout()

        <section class="row">
            <div class="span12">
                <div data-toggle="collapse" data-target="#template-src" style="cursor: pointer; font-weight: bold;"><i class="icon-play"></i>Template Source</div>
                <div id="template-src" class="collapse">
                    <pre class="prettyprint linenums">@render("tmpl_src") {template source not provided}</pre>
                </div>
            </div>
        </section>

        <section class="row">
            <div class="span12">
                <div data-toggle="collapse" data-target="#java-src" style="cursor: pointer; font-weight: bold;"><i class="icon-play"></i>Java Source (Rythem Generated)</div>
                <div id="java-src" class="collapse">
                    <pre class="prettyprint linenums">@render("java_src") {java source not provided}</pre>
                </div>
            </div>
        </section>

        <footer class="footer">
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>Powered by <a href="http://playframework.org" target="_blank">Play!Framework v1.2</a> and <a href="http://twitter.github.com/bootstrap">Twitter Bootstrap</a> using <a href="www.playframework.org/modules/rythm" target="_blank">Play-Rythm template</a> (of course!);</p>
            <p>Built by <a href="mailto:greenlaw110@@gmail.com">Green Luo</a> and <a href="mailto:herdy.handoko@@gmail.com">Herdy Handoko</a></p>
            <p>Code licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a></p>
        </footer>
    </div>

    <script src="/public/js/jquery-1.7.2.min.js" type="text/javascript" charset="@_response_encoding"></script>
    <script src="/public/js/jquery.cookie.min.js" type="text/javascript" charset="@_response_encoding"></script>
    <script src="/public/js/bootstrap.min.js" type="text/javascript" charset="@_response_encoding"></script>
    <script src="/public/js/prettify.js" type="text/javascript" charset="@_response_encoding"></script>
    <script type="text/javascript">
    //<![CDATA[
        $(function() {

            function checkCookie() {
                if (!$.cookie("nothx")) { showHelp() }
            }

            function showHelp() {
                $('#help').css("display", "block");
            }

            function noThanks() {
                $('#help').css("display", "none");
                $.cookie("nothx", "yes", { expires: 100 });
                return false;
            }

            checkCookie();
            prettyPrint();
        });
    //]]>
    </script>
    @render('moreScripts')

</body>
</html>