@extends(main)
@set(title:"Inline Tag with return type")

@def boolean isRandomOdd() {
    <h3>dicing...</h3>
    @{
    int r = new Random().nextInt(100);
    return r % 2 != 0
    }
}

<div>
    <h2>@get("title")</h2>
</div>

<table class="table code-section">
    <thead>
        <th class="span6">Code</th>
        <th>Result</th>
    </thead>
    <tbody>
        <tr>
            <td>
<pre class="prettyprint linenums">@verbatim() {
@if (isRandomOdd()){
    <p>Huh, it's odd</p>
} else {
    <p>Wow, it's even</p>
}
}</pre>
            </td>
            <td>
                @if (isRandomOdd()){
                    <p>Huh, it's odd</p>
                } else {
                    <p>Wow, it's even</p>
                }
            </td>
        </tr>
    </tbody>
</table>

@include("tmpl_src")
